.nav {
    overflow: hidden;
}


.sk  {
    position: absolute;
    left: 300px;
    top: 40px;
    float: left;
    background-color: blue;
}

.sk span {
    font-size: 20px;
    width: 250px;
}

.sk_list ul li a{
    display: block;
    font-size: 20px;
    font-weight: 500;
}
.sk_bdb {
    height: 355px;
    float: left;
}


.sk_bd {
    margin-top: 30px;
    height: 350px;
}





.sk_bd ul li {
    width: 290px;
    height: 480px;
    border: 1px solid transparent;
}

.sk_bd ul li:hover {
    border: 1px solid skyblue;
}

.sk_bd ul {
    /*把 ul增大*/
    width: 1225px;
}

.sk_bd ul li {
    float: left;
    width: 228px;
    height: 310px;
    
    margin-right: 15px;
    margin-bottom: 15px;
}

.sk_bd ul li img {
    width: 100%;
    
}

.sk_bd ul li h4 {
    display: block;
    margin-top: 8px;
}



.sk_bd ul li h4:hover {
    color: rgb(233,149,190);
}


.sk_bd ul li h5 {
    margin-top: 2px;
    font-size: 20px;
    color:rgb(255, 68, 0);
}


.sk_bd ul li a {
    display: block;
    height: 30px;   
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: red;

}

.sk_bd ul li a:hover {
    color: black;
}

.sk_bdb ul li {
    float: left;
}